*{
    margin: 0;
    
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}

.navbar1 {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    padding: 0 14.5vw;
    z-index: 1;
    position: fixed;
    visibility: hidden;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(35%);
    }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
      }
      
    
.header-img {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    vertical-align: middle;
}

.logo1 {
    height: auto;
    display: inline-block;
    margin: 10px 0px;
    padding: 7px;
    font-size: 18px;
    font-weight: 999;
    color: #252525;
    font-family: "Montserrat", sans-serif;
}

.menubar1 {
    float: right;
    padding: 15px;
}

.menu-list1 {
    display: inline-block;
    padding: 5px 10px;
    color: #252525;
    font-size: 11px;
    font-weight: 999;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-list1:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    background: linear-gradient(-45deg, #3875d6, #2f5ca3, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease-in-out infinite;
    padding: 7vh 12vw;
	height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    width: 100%;
    height: 45px;
    visibility: visible;
}

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: hidden;
}

.logo {
    height: auto;
    display: inline-block;
    margin: 10px 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: 999;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.menubar {
    float: right;
    padding: 20px;
}


.menu-list {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 999;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-list:hover {
    text-decoration: underline;
}

.intro {
    width: 100%;
    height: auto;
    margin: 40px 40px;
}

.thumbnail img {
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 50px;
}

.myintro {
    width: 50%;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}

.myintro h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 900;
}

.myintro p{
    line-height: 1.56;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.introbtns {
    padding: 10px;
}

.btn {
    width: 150px;
    height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    font-family:"Montserrat", sans-serif;
    margin: 15px 20px 15px 0px;
    border: 2px solid #FFF;
    border-radius: 30px;
    cursor: pointer;
}

.btncontact{
    background-color: #FFF;
    color: rgb(33, 75, 212);
}

.btncv{
    background-color: transparent;
    color: #FFF;
}

.btncv:hover{
    background-color: #FFF;
    color: rgb(33, 75, 212);
}

.project {
    width: 100%;
    height: auto;
    padding: 7vh 12vw;
}

.project-sec{
    padding: 15px;
}

.project h3 {
    font-size: 30px;
    line-height: 1.4;
    color: #252525;
    padding: 10px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.project-type {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

.project-list {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #252525;
    margin: 0px 30px 0px 0px;
    display: inline-block;
}

.project-detail {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.project-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    background-image: radial-gradient(grey 20%, brown 60%);
}

.image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    transition: 0.5s;    
}

/* .image:hover {
    transform: scale(1.1);
} */

.project-description {
    margin: 0px 20px 20px 0px;
}

.project-description img {
    width: 100%;
    height: auto;
}

.project-detail h2 {
    font-size: 18px;
    line-height: 1.4;
    color: #252525;
    padding: 10px 0 0 0;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.project-detail h2:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.project-detail p {
    font-size: 14px;
    line-height: 1.4;
    color: #252525;
    padding: 0 0 10px 0;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: black;
}

.footer {
    width: 100;
    height: auto;
    padding: 7vh 12vw;
}

.footer h3 {
    font-size: 30px;
    line-height: 1.4;
    color: #252525;
    padding: 10px 15px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.foot-sec {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
    padding: 15px;
}

.col-1 {
    padding: 10px;
}

.contact-desc {
    color: #252525;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}

.title {
    width: 20%;
    text-transform: uppercase;
    color: #252525;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.contact-data {
    width: 80%;
    color: #252525;
    font-size: 12px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

.icon {
    padding: 0 15px 0 0;
    font-size: 12px;
    line-height: 1.2;
    color: grey;
}

.icon:hover {
    color: #3875d6;
}

.name-email {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.form-title{
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.text-box {
    width: 45%;
    display: inline-block;
    margin-right: 20px;
}

.contact {
    color: #252525;
    line-height: 2;
    padding: 10px 0 0 0;
}

.text {
    margin: 10px 0 0 0;
    width: 100%;
    height: 45px;
    padding: 0px 13px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.text:hover {
    border: 2px solid blue;
}

.text:focus {
    outline: none;
    border: 2px solid blue;
}

.textarea {
    margin: 10px 0 0 0;
    width: 100%;
    height: 165px;
    resize: none;
    padding: 13px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.textarea:hover {
    border: 2px solid blue;
}

.textarea:focus {
    outline: none;
    border: 2px solid blue;
}

::placeholder {
    color: grey;
    opacity: 0.5;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.submit {
    float: right;
    margin: 20px 0 0 0;
    width: 150px;
    height: 40px;
    background-color: #0575E6;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #0575E6;
    border-radius: 20px;
}

.footer-end {
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
    background-color: #EFEFEF;
    color: #252525;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.about-me {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes slideIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.about-sec {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation-name: slideIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {padding-top: 0px; opacity: 0;}
    to {padding-top: 100px; opacity: 1;}
}

.contact-me {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
} 

.contact-sec {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
